﻿<div class="row">
    <div class="col-12">

        <div class="card">
            <div class="card-header bg-gradient-success text-white">
                <div class="row">
                    <div class="col-11"><box-icon name="book-bookmark" color="white" size="sm" animation="tada"></box-icon> Eğitim Kategorileri</div>
                    <div class="col-1 text-end"><a id="btnAdd" href="#" class="btn btn-outline-dark">+ Yeni</a></div>
                </div>

            </div>
            <div class="card-body">

                <table id="tblTrainingCategories" class="table table-hovered table-striped table-bordered"></table>

            </div>

        </div>





    </div>
</div>

@* MODAL *@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
         role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3 row">
                    <label class="form-label">Kategori Adı : </label>
                    <input type="text" id="txtCategoryName" placeholder="Lütfen kategori adı giriniz" class="form-control" required />
                </div>




            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Kapat
                </button>
                <button type="button" id="btnSave" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>





@section Scripts {
    <script>



        $('#modal').on('shown.bs.modal', () => {
            $('#txtCategoryName').focus().off("keypress").keypress((event) => {
                if (event.key == "Enter")
                    $("#btnSave").trigger("click");
            });
        })

        var DataTable = "";
        // var _dataTable = "";

        //arrow function
        $(document).ready(() => {

            $("#btnAdd").click(() => {
                $("#modal").modal("show");
                $("#btnSave").text("Kaydet");
                $("#modalTitle").text("Yeni Kategori Ekle");
                $('#txtCategoryName').val('');


                $("#btnSave").off().click(() => {

                    $.ajax({
                        url: '/TrainingCategory/Add',
                        type: 'POST',
                        data: {
                            trainingCategory: {
                                name: $("#txtCategoryName").val()
                            }
                        },
                        success: (res) => {
                            $("#modal").modal("hide");
                            DataTable.row.add(res).draw(false);

                        }
                    });

                });
            });




            DataTable = $("#tblTrainingCategories").DataTable({
                ajax: '/TrainingCategory/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Kategori Adı' },
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {

                            return `<a onclick="deleteCategory(${data},this)" class="me-4" title="Sil" href="#"><box-icon name="trash-alt" color="red" size="sm" class="bx-burst-hover" ></box-icon></a> <a onclick="updateCategory(${data},this)" title="Düzenle" href="#"><box-icon class="bx-burst-hover" name="pencil" color="blue" size="sm" ></box-icon></a> `;

                        }
                    }
                ]
            });




        });


        function deleteCategory(categoryId, button) {

            if (confirm("Silmek istediğinize emin misiniz ?")) {

                $.ajax({
                    url: '/TrainingCategory/Delete',
                    type: 'POST',
                    data: {
                        id: categoryId
                    },
                    success: () => {
                        let satir = $(button).parent().parent();

                        DataTable.row(satir).remove().draw(false);
                    }
                });

            }

        }

        function updateCategory(categoryId, button) {

            $.ajax({
                url: '/TrainingCategory/GetById',
                type: 'POST',
                data: {
                    id: categoryId
                },
                success: (res) => {
                    $("#modal").modal("show");
                    $("#txtCategoryName").val(res.name);
                    $("#modalTitle").text("Kategori Düzenle");
                    $("#btnSave").text("Güncelle").off().click(() => {

                        res.name = $("#txtCategoryName").val();

                        $.ajax({
                            url: '/TrainingCategory/Update',
                            type: 'POST',
                            data: {
                                trainingCategory: res
                            },
                            success: () => {
                                let satir = $(button).parent().parent();
                                DataTable.row(satir).data(res).draw(false);
                                $("#modal").modal("hide");
                            }
                        });
                    });

                }
            });

        }


    </script>
}