<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header bg-gradient-success text-white">
                <div class="row">
                    <div class="col-11  fs-3 text-white>
                        <box-icon name="dining" color="white" size="sm" animation="tada"></box-icon> Durumlar
                    </div>
                    <div class="col-1 text-end">
                        <a id="btnAdd" href="#" class="btn btn-outline-dark">+ Yeni Durum</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="tblStatus" class="table table-hovered table-striped table-bordered"></table>
            </div>
        </div>
    </div>
</div>

@* MODAL *@
<div class="modal fade" id="modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row">
                    <label class="form-label">Durum Adı : </label>
                    <input type="text" id="txtStatusName" placeholder="Lütfen durum adı giriniz" class="form-control" required />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnSave" class="btn btn-primary"></button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var DataTable = "";

        $(document).ready(() => {
           
            $("#btnAdd").click(() => {
                $("#modal").modal("show");
                $("#btnSave").text("Kaydet");
                $("#modalTitle").text("Yeni Durum Ekle");
                $('#txtStatusName').val('');

                $("#btnSave").off().click(() => {
                    $.ajax({
                        url: '/Status/Add',
                        type: 'POST',
                        data: {
                            name: $("#txtStatusName").val()
                        },
                        success: (res) => {
                            $("#modal").modal("hide");
                            DataTable.row.add(res).draw(false);
                        }
                    });
                });
            });

            DataTable = $("#tblStatus").DataTable({
                ajax: '/Status/GetAll',
                columns: [
                    { data: 'id', title: 'ID' },
                    { data: 'name', title: 'Durum Adı' },
                    {
                        data: 'id', title: 'İşlemler', render: (data) => {
                            return `
                                <a onclick="updateStatus(${data}, this)" title="Düzenle" href="#">
                                    <i class="bi bi-pencil" style="color: blue; font-size: 1.2em;"></i>
                                </a>
                                <a onclick="deleteStatus(${data}, this)" title="Sil" href="#">
                                    <i class="bi bi-trash" style="color: red; font-size: 1.2em;"></i>
                                </a>`;
                        }
                    }
                ]
            });
        });

       
        function deleteStatus(statusId, button) {
            if (confirm("Silmek istediğinize emin misiniz?")) {
                $.ajax({
                    url: '/Status/Delete',
                    type: 'POST',
                    data: { id: statusId },
                    success: () => {
                        let row = $(button).parent().parent();
                        DataTable.row(row).remove().draw(false);
                    }
                });
            }
        }

      
        function updateStatus(statusId, button) {
            $.ajax({
                url: '/Status/GetById',
                type: 'POST',
                data: { id: statusId },
                success: (res) => {
                    $("#modal").modal("show");
                    $("#txtStatusName").val(res.name);
                    $("#modalTitle").text("Durum Düzenle");
                    $("#btnSave").text("Güncelle").off().click(() => {
                        res.name = $("#txtStatusName").val();

                        $.ajax({
                            url: '/Status/Update',
                            type: 'POST',
                            data: res,
                            success: () => {
                                let row = $(button).parent().parent();
                                DataTable.row(row).data(res).draw(false);
                                $("#modal").modal("hide");
                            }
                        });
                    });
                }
            });
        }
    </script>
}
